* {
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #4B3D63;
    color: #f0eafa;
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }
  
  #main-doc {
    position: absolute;
    margin-left: 240px;
    padding: 18px;
    margin-bottom: 110px;
  }
  
  header {
    color: #150a29;
    padding: 0.3em;
    font-weight: 500;
    font-size: 1.3rem;
  }
  
  a {
    text-decoration: none;
    color: #d2c1f0;
    font-weight: 400;
  }
  
  .links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space between;
    gap: 12px;
  }
  
  .main-section {
    margin-top: 43.89px;
  }
  
  nav {
    position: fixed;
    padding: 12px;
  }
  
  @media (min-width: 720px) and (max-width: 1080px) {
    * {
      overflow: hidden;
    }
  }