/* basic */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    cursor: -webkit-image-set(
        url(https://i-p.rmcdn.net/65638d5ee91e4a0021d51a69/image-1e1b8104-3424-41be-bf06-d49b561a5d0b.png?w=26) 1x,
        url(https://i-p.rmcdn.net/65638d5ee91e4a0021d51a69/image-1e1b8104-3424-41be-bf06-d49b561a5d0b.png) 2x
    ), auto;
    background-color: #4c3478;
    color: azure;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    cursor: url(gam1567.cur), auto;
}


.scroll-wrapper {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overscroll-behavior: contain;
}

.scroll-wrapper::-webkit-scrollbar {
    width: 0;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* basic end */

/* navigation section */
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: height 0.5s, opacity 0.5s;
}

nav {
    background-color: #282326;
    width: 100vw;
    height: 28vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-radius: 0px 50px 0px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

.navbar-hidden {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

nav img {
    border-radius: 50%;
    width: 150px;
    position: absolute;
    top: 33px;
    left: 13px;
    border: 6.5px solid transparent;
    background: rgba(255, 255, 255, 0.6); 
    box-shadow: 2px 1px 20px 13px rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
}

#navbar .links a {
    text-decoration: none;
    margin-right: 50px;
    padding: 8px 14px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 43%;
    transform: translateY(-50%);
    text-shadow: 1.4px 1.4px 0px #563e4c;
    letter-spacing: -0.5px;
    color: #bfa6ee;
}
/* navigation section end */

/* welcome section */
#welcome-section {
    font-family: monospace;
    text-align: center;
    padding-top: 20vh;
    min-height: 100vh;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.card-container {
    perspective: 1000px;
}

.card {
    width: 400px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    background-color: #1a4a49;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.card-front {
    background-color: #1a4a49;
}

.card-back {
    background-color: #1a4a49;
    transform: rotateY(180deg);
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

h1, p {
    margin: 0;
}

.typewriter1, .typewriter2 {
    font-weight: bold;
    color: #bfa6ee;
}
/* welcome section end */

/* about section */
#about {
    background: linear-gradient(135deg, #6a329f, #bfa6ee);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    max-width: 800px;
    padding: 30px;
    text-align: center;
    color: #fff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#about h2 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#about p {
    font-size: 1.3em;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#about p:last-child {
    margin-bottom: 0;
}

#about:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}
/* about section end */


#projects {
    padding-top: 20px;
}

#experience {
    padding-top: 20px;
}

/* Contact section */

#contact {
    /* background-color: #4c3478; */
    background: linear-gradient(135deg, #333, #4c3478);
    padding: 30px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: azure;
}

#contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #bfa6ee;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#contact div {
    margin: 15px 0;
}

#contact p {
    font-size: 1.2em;
}

#contact a {
    color: #bfa6ee;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

#contact {
    padding-top: 20px;
}

.imageG, .imageL {
    width: 25px;
}

.imageF {
    width: 120px;
}

.fllex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* contact section ends */

/* footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
}

footer p {
    margin: 0;
    font-size: 14px;
}
/* footer end */

/* media */
@media (max-width: 768px) {
    nav {
        height: 23vh;
    }

    nav img {
        width: 124px;
    }

    #navbar .links a {
        margin-right: 23px;
        padding: 5px 4px;
        font-size: 16.7px;
        font-weight: bold;
        top: 45%;
        text-shadow: 1px 1px 0px #563e4c;
        letter-spacing: -0.5px;
    }
}
/* media end */
